.swiper-container {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #1d9dd92c; 
    /* border: 8px solid rgba(214, 20, 20, 0.5); */
    color: white;
    padding: 20px;
    /* border-radius: 5px; */
    clip-path: polygon(0 10%, 73% 10%, 100% 50%, 74% 88%, 0 87%);
    height: 100% ;
    width: 60%;  /* Définit une largeur raisonnable */
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 2;
}

.contenu p {
    font-weight: 700;
    font-family: 'Poppins';
    font-size: 28px;
}

.text-box {
    /* z-index: 88; */
    color: white; /* Assurer que le texte est visible */
    font-size: 25px;
    /* Ajuste la taille du texte */
    line-height: 1.5; 
    height: auto;
    font-family: 'Poppins', 'Helvetica Neue',;
}

.vertical-bar {
    width: 5px;
    height: 60%; /* La barre occupe presque toute la hauteur du slide */
    background-color: #FFD700; /* Couleur dorée */
    margin-right: 10px;
    position: absolute;
    top: 20%; /* Positionne la barre légèrement vers le haut */
    left: 10%;
}

.project-section{
    display: flex;
    justify-content: space-evenly;
    padding: 0 45px 0 35px;
    
}

.project-item{
    width: 300px;
    /* height: 150px; */
    border: 4px solid #1d9dd9;
    border-radius: 0px 10px 0px 108px;
    -webkit-border-radius: 0px 10px 0px 108px;
    -moz-border-radius: 0px 10px 0px 108px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

box-sizing: border-box
}

.project-item p{
    margin-left: 30px;
     text-align : right;
}

.project-item a{
    float: right;
}

.partner-section{
    display: flex;
    flex-direction: row;
}

.dropdown-content {
    display: none;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    top: 100%;
    left: 0;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease-in-out;
}

.dropdown-content.active {
    display: block;
}

.service-item {
    position: relative;
}

.featured-services .swiper {
    padding-top: 50px
  }

  .service-item {
    text-align: center;
    padding: 20px;
   
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.service-item:hover {
    background-color: #f8f9fa;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
    color: #555;
}


.partner-section {
    width: 100%;
    overflow: hidden;
}

.partner-section .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    max-width: 150px; /* Ajuste la taille des images */
    height: auto;
}

.partner-section .swiper-slide{
    box-shadow: none;
}


.card {
    
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 37px;
    -webkit-border-radius: 10px 10px 0px 37px;
    -moz-border-radius: 10px 10px 0px 37px;
   
}

.btn {
    background-color: #ffdc155b;
    border: none;
    color: #000000;
}

.footer {
    background-color:#eee ;
}

.form-contener{
    margin-top: 70px;
}

.btn_contact {
    color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Poppins';
    background: #1d9dd9 ;
    padding: 14px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     
    }

    .btn-custom:hover {
      background-color:  #1d9dd981;
      transform: scale(1.05);
    }

    
    .presentation 
    {
    margin-top: 50px;
    padding: 50px 20px;
    
    }

    

    .about_items {
        display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px 5px; 
    align-items: center;
    margin-right: 200px;
    margin-left: 150px;
    margin-bottom: 50px;
    
       
      }
      
    .items_rigth {
        flex: 1;
      }
       
      
    .items_left {
        flex: 1;
        text-align: justify;
        margin-top: 10px;
        align-items: justify;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        
      } 
       

      .items_left ul {
        list-style: none;
        padding-left: 0;
      }
      
      
      .items_left ul li::before {
        content: "✔ ";
        color:#FFD700;
        font-weight: bold;
        margin-right: 8px;
      }
      
      .items_left h3 {
        color: #000000;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
    }

      .stretched-link h3 {
        font-family: 'Poppins', sans-serif;
        color: #000000;
        font-size: 15px;
    }

    .starter-section h2 {
        color: #FFFFFF;
       
    }
    
    .starter-section p {
        color: #FFFFFF;
        font-size: 16px;
        
    }


    .hero .icon-box {
        background-color: var(--surface-color);
        padding: 50px 30px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
        height: 100%;
        width: 100%;
      }
      
      .hero .icon-box .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
      }
      
      .hero .icon-box .title a {
        color: var(--heading-color);
        transition: 0.3s;
      }
      
      .hero .icon-box .description {
        font-size: 15px;
        margin-bottom: 0;
        color: color-mix(in srgb, var(--default-color), transparent 40%);
      }
      
      .hero .icon-box .icon {
        margin-bottom: 20px;
        padding-top: 10px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-size: 36px;
        line-height: 1;
        color: var(--accent-color);
      }
      
      @media (min-width: 640px) {
        .hero .icon-box:hover {
          transform: scale(1.08);
        }
      
        .hero .icon-box:hover .title a {
          color: var(--accent-color);
        }
      }

      .tabs .nav-tabs {
        border: 0;
      }
      
      .tabs .nav-link {
        color: var(--heading-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
        padding: 15px 20px;
        transition: 0.3s;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 100%;
      }
      
      .tabs .nav-link i {
        padding-right: 15px;
        font-size: 48px;
      }
      
      .tabs .nav-link h4 {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
      }
      
      .tabs .nav-link:hover {
        color: var(--accent-color);
        border-color: var(--accent-color);
      }
      
      .tabs .nav-link.active {
        background: var(--accent-color);
        color: var(--contrast-color);
        border-color: var(--accent-color);
      }
      
      .tabs .nav-link.active h4 {
        color: var(--contrast-color);
      }
      
      @media (max-width: 768px) {
        .tabs .nav-link i {
          padding: 0;
          line-height: 1;
          font-size: 36px;
        }
      }
      
      @media (max-width: 575px) {
        .tabs .nav-link {
          padding: 15px;
        }
      
        .tabs .nav-link i {
          font-size: 24px;
        }
      }
      
      .tabs .tab-content {
        margin-top: 30px;
      }
      
      .tabs .tab-pane h3 {
        color: var(--heading-color);
        font-weight: 700;
        font-size: 26px;
      }
      
      .tabs .tab-pane ul {
        list-style: none;
        padding: 0;
      }
      
      .tabs .tab-pane ul li {
        padding-bottom: 10px;
      }
      
      .tabs .tab-pane ul i {
        font-size: 20px;
        padding-right: 4px;
        color: var(--accent-color);
      }
      
      .tabs .tab-pane p:last-child {
        margin-bottom: 0;
      }
      
    


     