.swiper-container {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.vertical-bar {
    width: 5px;
    height: 80%; /* La barre occupe presque toute la hauteur du slide */
    background-color: #FFD700; /* Couleur dorée */
    margin-right: 15px;
    position: absolute;
    top: 10%; /* Positionne la barre légèrement vers le haut */
    left: 10%;
}